<h1>Add a New Robot</h1>
<form action="/robots" method="post">
  Name: <input type="text" name="robot[name]"><br>
  Avatar URL: <input type="test" name="robot[avatar]"><br><br>
  <input type="submit" value="Add Robot">
</form>
