<h1>Add a New Robot</h1>
<form action="/robots" method="post">
  Name: <input type="text" name="robot[name]"><br>
  Avatar: <input type="file" name="robot[avatar]" accept="image/*"><br><br>
  <input type="submit" value="Add Robot">
</form>
