<form action="/robots/<%= @robot.id %>" method="post">
  <h1>Update Robot</h1>
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="robot[name]" value="<%= @robot.name %>"><br>
  <input type= "text" name="robot[avatar]" value="<%= @robot.avatar %>"><br>
  <input type='submit'>
</form>
